<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About CCES Cooperative Congressional Election Study</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <style>
    p {
    font-size: 18px;    
    }
  </style>
</head>

<body>
    <div class="container">
<!--   Navigation bar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://127.0.0.1:5000/teamtufte">Team Tufte</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                 <li>
                        <a href="http://127.0.0.1:5000">Home</a>
                    </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">State Total Data
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="http://127.0.0.1:5000/metadata_statesGunBackgroundChecks_16">Gun Backgroud Checks</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadata_statesProhibitPublication_16">Publication Ban</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadata_statesBanAssultWeapons_16">Ban Assault Weapons </a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadata_statesMakeCCPEasier_16">Concealed Carry Permit</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadata_statesAlwaysAllowChoice_16">Always Allow</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadata_statesRapeIncestorHealth_16">Rape Incestor Health</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadata_statesProhibitMoreThan20Weeks_16">Prohibit more than 20 weeks</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadata_statesEmployersdeclinebenefits_16">Declined Benefits</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadata_statesProhibitFedFunds_16">Federal Funds</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadata_statesGayMarriage">Gay Marriage</a>
                        </li>
                        
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Total Data
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="http://127.0.0.1:5000/metadatatotalsGunBackgroundChecks_16">Gun Backgroud Checks</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadatatotalsProhibitPublication_16">Publication Ban</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadatatotalsBanAssultWeapons_16">Ban Assault Weapons </a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadatatotalsMakeCCPEasier_16">Concealed Carry Permit</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadatatotalsAlwaysAllowChoice_16">Always Allow</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadatatotalsRapeIncestorHealth_16">Rape Incestor Health</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadatatotalsProhibitMoreThan20Weeks_16">Prohibit more than 20 weeks</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadatatotalsEmployersdeclinebenefits_16">Declined Benefits</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadatatotalsProhibitFedFunds_16">Federal Funds</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadatatotalsGayMarriage">Gay Marriage</a>
                        </li>
                        
                    </ul>
                </li>
                <li>
                        <a href="http://127.0.0.1:5000/aboutcces">About CCES</a>
                    </li>
            </ul>
        </div>

    </div>

</nav>
<div class="row">
        <div class="col-xs-12  col-md-9">
          <div class="article">
            <h1>Cooperative Congressional Election Study</h1>

            <p>The CCES is a 50,000+ person national stratified sample survey administered by YouGov. 
                Half of the questionnaire consists of Common Content asked of all 50,000+ people, 
                and half of the questionnaire consists of Team Content designed by each individual participating team 
                and asked of a subset of 1,000 people. In addition, several teams may pool their resources to create Group Content.</p>
  
            <p>The survey consists of two waves in election years. In the pre-election phase, respondents answer two-thirds of the 
                questionnaire. This segment of the survey asks about general political attitudes, various demographic factors, 
                assessment of roll call voting choices, and political information. The pre-election phase is administered late September 
                to late October and rolled out in three distinct time-periods, the end of September, the middle of October, 
                and the end of October. Spacing of interviews across these intervals allows researchers to gauge the effects of 
                campaign information and events on the state and district electorates. In the post-election phase, respondents answer
                the other third of the questionnaire, mostly consisting of items related to the election that just occurred. 
                The post-election phase is administered in November.</p>
  
            <p>In non-election years, the survey consists of a single wave conducted in the fall.</p>
            <p><a href="https://cces.gov.harvard.edu/">Harvard CCES Page</a></p>
          </div>
        </div>
      </div>
<body>



</div>        <!-- Close Container Div -->

</body>
<!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous">
    </script>


</html>
