<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About CCES Cooperative Congressional Election Study</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <div class="container">
<!--   Navigation bar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://127.0.0.1:5000/">Team Tufte</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">State Total Data
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="http://127.0.0.1:5000/metadata_statesGunBackgroundChecks_16">Gun Backgroud Checks</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadata_statesProhibitPublication_16">Publication Ban</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadata_statesBanAssultWeapons_16">Ban Assault Weapons </a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadata_statesMakeCCPEasier_16">Concealed Carry Permit</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadata_statesAlwaysAllowChoice_16">Alwasy Allow</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadata_statesRapeIncestorHealth_16">Rape Incestor Health</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadata_statesProhibitMoreThan20Weeks_16">Prohibit more than 20 weeks</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadata_statesEmployersdeclinebenefits_16">Declined Benefits</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadata_statesProhibitFedFunds_16">Federal Funds</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadata_statesGayMarriage">Gay Marriage</a>
                        </li>
                        
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Total Data
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="http://127.0.0.1:5000/metadatatotalsGunBackgroundChecks_16">Gun Backgroud Checks</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadatatotalsProhibitPublication_16">Publication Ban</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadatatotalsBanAssultWeapons_16">Ban Assault Weapons </a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadatatotalsMakeCCPEasier_16">Concealed Carry Permit</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadatatotalsAlwaysAllowChoice_16">Alwasy Allow</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadatatotalsRapeIncestorHealth_16">Rape Incestor Health</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadatatotalsProhibitMoreThan20Weeks_16">Prohibit more than 20 weeks</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadatatotalsEmployersdeclinebenefits_16">Declined Benefits</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadatatotalsProhibitFedFunds_16">Federal Funds</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadatatotalsGayMarriage">Gay Marriage</a>
                        </li>
                        
                    </ul>
                </li>
            </ul>
        </div>

    </div>

</nav>
<body>



</div>        <!-- Close Container Div -->

</body>
<!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous">
    </script>


</html>
