<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Team Tufte</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <style>
        html {
          box-sizing: border-box;
        }
        
        *, *:before, *:after {
          box-sizing: inherit;
        }
        
        .column {
          float: left;
          width: 50%;
          margin-bottom: 16px;
          padding: 0 8px;
        }
        
        @media screen and (max-width: 650px) {
          .column {
            width: 100%;
            display: block;
          }
        }
        
        .card {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }
        
        .container {
          padding: 0 16px;
        }
        
        .container::after, .row::after {
          content: "";
          clear: both;
          display: table;
        }
        
        .title {
          color: grey;
        }
        
        .button {
          border: none;
          outline: 0;
          display: inline-block;
          padding: 8px;
          color: white;
          background-color: #000;
          text-align: center;
          cursor: pointer;
          width: 100%;
        }
        
        .button:hover {
          background-color: #555;
        }
        </style>
</head>

<body>
    <div class="container">
<!--   Navigation bar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://127.0.0.1:5000/teamtufte">Team Tufte</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                 <li>
                        <a href="http://127.0.0.1:5000">Home</a>
                    </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">State Total Data
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="http://127.0.0.1:5000/metadata_statesGunBackgroundChecks_16">Gun Backgroud Checks</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadata_statesProhibitPublication_16">Publication Ban</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadata_statesBanAssultWeapons_16">Ban Assault Weapons </a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadata_statesMakeCCPEasier_16">Concealed Carry Permit</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadata_statesAlwaysAllowChoice_16">Always Allow</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadata_statesRapeIncestorHealth_16">Rape Incestor Health</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadata_statesProhibitMoreThan20Weeks_16">Prohibit more than 20 weeks</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadata_statesEmployersdeclinebenefits_16">Declined Benefits</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadata_statesProhibitFedFunds_16">Federal Funds</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadata_statesGayMarriage">Gay Marriage</a>
                        </li>
                        
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Total Data
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="http://127.0.0.1:5000/metadatatotalsGunBackgroundChecks_16">Gun Backgroud Checks</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadatatotalsProhibitPublication_16">Publication Ban</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadatatotalsBanAssultWeapons_16">Ban Assault Weapons </a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadatatotalsMakeCCPEasier_16">Concealed Carry Permit</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadatatotalsAlwaysAllowChoice_16">Always Allow</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadatatotalsRapeIncestorHealth_16">Rape Incestor Health</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadatatotalsProhibitMoreThan20Weeks_16">Prohibit more than 20 weeks</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadatatotalsEmployersdeclinebenefits_16">Declined Benefits</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadatatotalsProhibitFedFunds_16">Federal Funds</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/metadatatotalsGayMarriage">Gay Marriage</a>
                        </li>
                        
                    </ul>
                </li>
                <li>
                        <a href="http://127.0.0.1:5000/aboutcces">About CCES</a>
                    </li>
            </ul>
        </div>

    </div>

</nav>
<body>
        <h1>Meet the Team</h1>
        <h3>UMN Data Analytics & Visualization Boot Camp</h3>
        <div class="row">
                <div class="column">
                  <div class="card">
                    <img src="https://media.licdn.com/dms/image/C5603AQEgjcrLcVRrbg/profile-displayphoto-shrink_200_200/0?e=1552521600&v=beta&t=fv7gJulyyTHwFxgzgP1xAtnjzIpaAiaQ9COjFMxv4oI" alt="Justin" style="width:30%">
                    <div class="container">
                      <h2>Justin Kim</h2>
                      <p class="title">Member</p>
                      <p>Recent graduate from the Carlson School of Management</p>
                      <p>Email: kimx3233@umn.edu</p>
                    </div>
                  </div>
                </div>
              
                <div class="column">
                  <div class="card">
                    <img src="https://media.licdn.com/dms/image/C4D03AQF436Wo6bzyjg/profile-displayphoto-shrink_800_800/0?e=1552521600&v=beta&t=zB6wagi4VrYZH3F2M4haxPumt0tdtCe6jdFOZ6QbRUg" alt="David" style="width:30%">
                    <div class="container">
                      <h2>David Kreitzer</h2>
                      <p class="title">Member</p>
                      <p>CEO, Founder at Breathalytics</p>
                      <p>Email: kreitzer.gr@gmail.com</p>
                    </div>
                  </div>
                </div>

                <div class="column">
                        <div class="card">
                          <img src="https://media.licdn.com/dms/image/C4E03AQHEy7EgtQCVMA/profile-displayphoto-shrink_800_800/0?e=1552521600&v=beta&t=hp4L9qTCmj3-iQVc-_TLFRbKHZjWaGsy0-7YNJORlsg" alt="Zingha" style="width:30%">
                          <div class="container">
                            <h2>Zingha Sielatshom</h2>
                            <p class="title">Member</p>
                            <p>Medical Device Specialist at Boston Scientific</p>
                            <p>Email: ZinghaSiel@gmail.com</p>
                          </div>
                        </div>
                      </div>

                 <div class="column">
                  <div class="card">
                    <img src="https://media.licdn.com/dms/image/C4E03AQEwAgMiigJ12A/profile-displayphoto-shrink_800_800/0?e=1552521600&v=beta&t=anp8Hthx3W5Ygs9T98u8JtcCSyJmtQqvdxYEkL2nEZk" alt="Candy" style="width:30%">
                    <div class="container">
                      <h2>Candy Tiu</h2>
                      <p class="title">Member</p>
                      <p>Financial Analyst</p>
                      <p>Email: candytiu96@gmail.com</p>
                    </div>
                  </div>
                </div>
              </div>
</body>
<!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous">
    </script>


</html>